<%- include('./partials/head') %>

  <section class="flip-card">
    <div class="flip-card-inner">

      <div class="flip-card-front">
        <img src="/links/logo-web.png" alt="Sascha Davidson" class="logo">
      </div>

      <div class="flip-card-back">
        <img class="avatar" src="<%= member.avatar %>" alt="">
        <h1>
          <%= member.name %>
            <%= member.surname %>
        </h1>
        <p><span>Code name:</span> <%= member.nickname %></p>
        <hr>
        <div class="contact-info">
          <h2>Contact</h2>
          <a href="mailto:saschadavidson1@gmial.com">saschadavidson1@gmail.com</a>
          <a href="tel:0611480403">06 11 48 04 03</a>
          <a href="<%= member.website %>">saschadavidson.nl</a>
          <a href="<%= member.gitHubHandle %>">Mijn gitHub profiel</a>
        </div>
        <hr>
        <h2>Bio</h2>
        <p><%= member.bio.html %></p>
      </div>

    </div>
  </section>

  <%- include('./partials/foot') %>